@(mensagem: String, produto: List[Produto])

@mainAdm(mensagem){

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<h1>@mensagem</h1>
<div>
	<table class="">
		<thead>
			<tr>
				<th>ID</th>
				<th>DESCRICAO</th>
				<th>PRECO</th>
				<th>SOBRE</th>
				<th>IMAGEM</th>
				<th>CATEGORIA</th>
				<th>FORNECEDOR</th>
				<th>ESTOQUE</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
		@for(produto <- produto) {
			<tr>
				<td><a href="@routes.ProdutoController.detalhes(produto.id)">@produto.id</a></td>	
				<td><a href="@routes.ProdutoController.detalhes(produto.id)">@produto.descricao</a></td>
				<td><a href="@routes.ProdutoController.detalhes(produto.id)">@produto.preco</a></td>
				<td><a href="@routes.ProdutoController.detalhes(produto.id)">@produto.sobre</a></td>
				<td><a href="@routes.ProdutoController.detalhes(produto.id)">@produto.imagem</a></td>
				
				<td><a href="@routes.ProdutoController.detalhes(produto.id)">@produto.categoria</a></td>
				
		    
				
				<td><a href="@routes.ProdutoController.detalhes(produto.id)">@produto.fornecedor</a></td>
				<td><a href="@routes.ProdutoController.detalhes(produto.id)">@produto.estoque</a></td>
				<td><a href="@routes.ProdutoController.delete(produto.id)" ><input type="submit" class="btn btn-primary" value="Remover"></a></td>
			</tr>			
		}
		</tbody>
	</table>
	<a href="/produto/novo" class="button">Novo</a>
</div>

}