    
    <!-- inicio do footer -->
    <meta charset=utf-8">
    <div class="footer">
      <div class="wrap">
        <div class="section group">
          <div class="col_1_of_4 span_1_of_4">
            <h4>Informações</h4>
            <ul>
              <li><a href="about.html">Mundos Geek</a></li>
              <li><a href="contact.html">Noticias Geek</a></li>
              <li><a href="#">Blogs Geek</a></li>
              <li><a href="#">Congressos</a></li>
              <li><a href="contact.html">Imprensa</a></li>
            </ul>
          </div>
          <div class="col_1_of_4 span_1_of_4">
            <h4>Compre Conosco</h4>
            <ul>
              <li><a href="about.html">Sobre Nós</a></li>
              <li><a href="contact.html">Atendimento ao Cliente</a></li>
              <li><a href="#">Política de Privacidade</a></li>
              <li><a href="contact.html">Trocas e Devoluções</a></li>
              <li><a href="#">Termos de Uso</a></li>
            </ul>
          </div>
          <div class="col_1_of_4 span_1_of_4">
            <h4>Minha Conta</h4>
            <ul>
              <li><a href="contact.html">Entrar</a></li>
              <li><a href="index.html">Ver Carrinho</a></li>
              <li><a href="#">Meus Desejos</a></li>
              <li><a href="#">Rastrear Pedido</a></li>
              <li><a href="contact.html">Ajuda</a></li>
            </ul>
          </div>
          <div class="col_1_of_4 span_1_of_4">
            <h4>Contato</h4>
            <ul>
              <li><span>(27) 3033-8800</span></li>
              <li><span>(27) 3033-8085</span></li>
            </ul>
            <div class="social-icons">
              <h4>Siga-nos!</h4>
              <ul>
                <li><a href="#" target="_blank"><img src="images/facebook.png" alt="" /></a></li>
                <li><a href="#" target="_blank"><img src="images/twitter.png" alt="" /></a></li>
                <li><a href="#" target="_blank"><img src="images/skype.png" alt="" /> </a></li>
                <li><a href="#" target="_blank"> <img src="images/dribbble.png" alt="" /></a></li>
                <li><a href="#" target="_blank"> <img src="images/linkedin.png" alt="" /></a></li>
                <div class="clear"></div>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="copy_right">
        <p>Planeta Geek © Todos os direitos reservados | Criado por  <a href="http://w3layouts.com">Planeta Geek</a> </p>
      </div>
    </div>
    <!-- fim do footer -->