@(formUsuario: Form[Usuario], id: Long, mensagem: String, categoria: List[Categoria])
@import meuHelper._
@main(mensagem,categoria) {
<div>
	<h1>@mensagem</h1>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	@meuHelper.meuFormPure("Usuario",routes.UsuarioController.salvar(id), "post"){
		<fieldset>
		
		<legend>Usuario (@formUsuario("nome").valueOr("Novo"))</legend>
		
		@meuHelper.InputText("nome", formUsuario("nome").value, "Nome:")
		@meuHelper.InputText("cpf", formUsuario("cpf").value, "CPF:")
		@meuHelper.InputText("logradouro", formUsuario("logradouro").value, "Logradour:")
		@meuHelper.InputText("numero", formUsuario("numero").value, "Número:")
		@meuHelper.InputText("bairro", formUsuario("bairro").value, "Bairro:")
		@meuHelper.InputText("cidade", formUsuario("cidade").value, "Cidade:")
		@meuHelper.InputText("uf", formUsuario("uf").value, "UF:")
		@meuHelper.InputText("cep", formUsuario("cep").value, "CEP:")
		@meuHelper.InputText("email", formUsuario("email").value, "E-mail:")
		@meuHelper.InputText("senha", formUsuario("senha").value, "Senha:")
		@meuHelper.checkbox("administrativo", formUsuario("administrativo").value, "Adm")
		        
		</fieldset>
		
		<input type="submit" class="button" value="Salvar">
		<a href="@routes.UsuarioController.lista()" class="button"> Cancelar</a>
	}
</div>	
}