@(formCategoria: Form[Categoria],id:Long,mensagem:String)
@import meuHelper._
@mainAdm(mensagem) {
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
	@meuHelper.cabecalhoPagina(mensagem,"#","")
	@meuHelper.meuFormPure("Categoria",routes.CategoriaController.salvar(id),"post") {
		<fieldset>
		<legend>Categoria (@formCategoria("Id").valueOr("Novo"))</legend>
			@meuHelper.InputText("Nome", formCategoria("nome").value, "Nome:")
		</fieldset>
		<input type="submit" class="button" value="Salvar">
		<a href="@routes.CategoriaController.lista()" class="button"> Cancelar</a>
	}
}