@(formCategoria: Form[Categoria],id:Long,mensagem:String)
@import meuHelper._
@main(mensagem) {
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

	@meuHelper.meuForm("Categoria",routes.CategoriaController.salvar(id),"post") {
		<fieldset>
		<legend>Categoria (@formCategoria("id").valueOr("Novo"))</legend>
			
		<div class="container">
			<div class="row">
				<div class="col-md-4">			
					@meuHelper.InputText("nome", formCategoria("nome").value, "Nome:")
				</div>
			</div>
		</div>					
					
		</fieldset>
		
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<input class="btn btn-lg btn-primary col-md-1" type="submit" value="  Salvar  ">
					<a class="btn btn-lg btn-danger col-md-1" href="@routes.CategoriaController.lista()">Cancelar</a>
				</div>
			</div>
		</div>
		
	}
}