@(formCategoria: Form[Categoria],categorias: List[Categoria],id:Long)
@import helper._
@main("Formulário de Categoria",categorias) {
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<h1>Formulário de Categoria</h1>
	@meuHelper.meuFormPure("Categoria",routes.CategoriaController.salvar(id),"post") {
		<fieldset>
		<legend>Categoria (@formCategoria("Id").valueOr("Novo"))</legend>
			@meuHelper.InputText("Nome", formCategoria("nome").value, "Nome:")
		</fieldset>
		<input type="submit" class="button" value="Salvar">
		<a href="@routes.CategoriaController.lista()" class="button"> Cancelar</a>
	}
}