@(formfornecedor: Form[Fornecedor], id: Long, mensagem: String)
@import meuHelper._
@mainAdm(mensagem) {
<div>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
	@meuHelper.cabecalhoPagina(mensagem,"#","")
	@meuHelper.meuFormPure("Fornecedor",routes.FornecedorController.salvar(id), "post"){
		<fieldset>
		
		<legend>Fornecedor (@formfornecedor("id").valueOr("Novo"))</legend>
		
		@meuHelper.InputText("nome", formfornecedor("nome").value, "Nome:")
		@meuHelper.InputText("cnpj", formfornecedor("cnpj").value, "CNPJ:")
		@meuHelper.InputText("ie", formfornecedor("ie").value, "IE:")
		@meuHelper.InputText("endereco", formfornecedor("endereco").value, "Endereço:")
		@meuHelper.InputText("cidade", formfornecedor("cidade").value, "Cidade:")
		@meuHelper.InputText("cidade", formfornecedor("uf").value, "UF:")
		@meuHelper.InputText("uf", formfornecedor("bairro").value, "Bairro:")        
		</fieldset>
		
		<input type="submit" class="button" value="Salvar">
		<a href="@routes.FornecedorController.lista()" class="button"> Cancelar</a>
	}
</div>	
}