@(formFormaPagamento: Form[FormaPagamento], id: Long, mensagem: String)
@import meuHelper._
@mainAdm(mensagem) {
<div>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
	@meuHelper.cabecalhoPagina(mensagem,"#","")
	@meuHelper.meuFormPure("formaPagamento", routes.FormaPagamentoController.salvar(id), "post"){
		<fieldset>
		
		<legend>Forma de Pagamento (@formFormaPagamento("nome").valueOr("Novo"))</legend>
		
		@meuHelper.InputText("nome", formFormaPagamento("nome").value, "Nome:")
		@meuHelper.InputText("parcelas", formFormaPagamento("parcelas").value, "Parcelas:")
        
		</fieldset>
		
		<input type="submit" class="button" value="Salvar">
		<a href="@routes.FormaPagamentoController.lista()" class="button"> Cancelar</a>
	}
</div>	
}