@(categorias: List[Categoria])
<div class="col-md-3">
	<div class="input-group" id="busqueda">
	<meta charset ="utf-8">
	<form class="form-signin" name="LoginForm" action="@routes.ProdutoController.VitrineStr()" method="post"> 
    	<input type="text" class="form-control" name= "search" type="submit" placeholder="Buscar por Descrição">
	</form>
	</div>
	<!--PARTE LATERAL IZQUIERDA-->
	<!--LISTA DE CATEGORIAS-->
	<div id="categorias" class="hidden-md hidden-sm hidden-xs">
		</br>
		<ul class="list-group">
			<a href="#" class="list-group-item active">
				Categorias
			</a>
			@for(categoria <- categorias){
			<a href="@routes.ProdutoController.Vitrine(categoria.id)" class="list-group-item">
				@categoria.nome
			</a>
			}
		</ul>					
		
	</div>
</div>