@(mensagem: String, transportadora: List[Transportadora])

@mainAdm(mensagem){

<meta charset=utf-8">
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
@meuHelper.cabecalhoPagina(mensagem,"#","")
<div>
	<table class="pure-table">
		<thead>
			<tr>
				<th>ID</th>
				<th>NOME</th>
				<th>CNPJ</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
		@for(transportadora <- transportadora) {
			<tr>
				<td><a href="@routes.TransportadoraController.detalhes(transportadora.id)">@transportadora.id</a></td>	
				<td><a href="@routes.TransportadoraController.detalhes(transportadora.id)">@transportadora.nome</a></td>
				<td><a href="@routes.TransportadoraController.detalhes(transportadora.id)">@transportadora.cnpj</a></td>
				<td><a href="@routes.TransportadoraController.remover(transportadora.id)" ><input type="submit" class="btn btn-primary" value="Remover"></a></td>
			</tr>
			
		}
		</tbody>
	</table>
	<a href="/transportadora/novo" class="button">Novo</a>
</div>

}