@(title: String)(content: Html)
@import meuHelper._

<!--A Design by W3layouts
Author: W3layout Modificado por Cláudio Rodrigues e André Chaves
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<head>
<title>Planeta Geek - E-Commerce</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="@routes.Assets.versioned("Vendor/css/style.css")" rel="stylesheet" type="text/css" media="all" />
<link href="@routes.Assets.versioned("Vendor/css/slider.css")" rel="stylesheet" type="text/css" media="all" />
<link href="@routes.Assets.versioned("Vendor/css/global.css")" rel="stylesheet" type="text/css" media="all" />
<link href="@routes.Assets.versioned("Vendor/css/easy-responsive-tabs.css")" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="@routes.Assets.versioned("public/Vendor/js/jquery-1.7.2.min.js")"></script>
<script type="text/javascript" src="@routes.Assets.versioned("public/Vendor/js/move-top.js")"></script>
<script type="text/javascript" src="@routes.Assets.versioned("public/Vendor/js/easing.js")"></script>
<script type="text/javascript" src="@routes.Assets.versioned("public/Vendor/js/startstop-slider.js")"></script>
</head>
<!-- final da head -->
<body>
	<!-- inicio da classe wrap -->
	<div class="wrap">

		<!-- inicio da classe header -->
		<div class="header">


			<!-- inicio da header top desc -->
			<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
			<div class="headertop_desc">
				<div class="call">
					<p>
						<span>Precisa de ajuda?</span> Ligue <span class="number">(27)3033-8800</span></span>
					</p>
				</div>
				<div class="account_desc">
					<ul>
						<li><a href="#">Cadastre-se</a></li>
						<li><a href="#">Entre</a></li>
						<li><a href="#">Meu Carrinho</a></li>
						<li><a href="#">Minha Conta</a></li>
					</ul>
				</div>
				<div class="clear"></div>
			</div>
			<!-- fim da header top desc -->

			<!-- inicio da header top -->
			<div class="header_top">
				<div class="logo">
					<a href="@routes.Assets.versioned("Custom/img/logo.jpg")" alt="Logo" /></a>
				</div>
				<div class="clear"></div>
			</div>
			<!-- fim da header top -->

			<!-- NAVBAR - início da header bottom -->
			<div class="header_bottom">
				<div class="menu">
					<ul>
						<li class="active"><a href="index.html">Início</a></li>
						<li><a href="about.html">Sobre</a></li>
						<li><a href="news.html">Novidades</a></li>
						<li><a href="contact.html">Contato</a></li>
						<div class="clear"></div>
					</ul>
				</div>
				<div class="clear"></div>
			</div>
			<!-- fim da NAVBAR - header bottom -->
			
		<div class="header_slide">
			<div class="header_bottom_left">
				<div class="categories">
					<ul><h3>Administrativo</h3>						
						<li><a href="@routes.UsuarioController.lista()">Usuário</a></li>
						<li><a href="@routes.ProdutoController.lista()">Produto</a></li>
						<li><a href="@routes.CategoriaController.lista()">Categoria</a></li>
						<li><a href="@routes.FornecedorController.lista()">Fornecedor</a></li>
						<li><a href="@routes.TransportadoraController.lista()">Transportadora</a></li>
						<li><a href="@routes.FormaPagamentoController.lista()">Forma de Pagamento</a></li>
					</ul>
				</div>
			</div>
			<div class="header_bottom_right">
				@content
			</div>
		</div>			
		</div>
		<!-- fim da classe header -->
		
		<!-- inicio da classe html main -->
		<div class="main">
			<div class="content">
				<!-- inicio do grupo de produtos promoções -->
				<div class="section group">	
				
				</div>
			</div>
			<!-- fim da classe main -->
		</div>
		<!-- fim da classe wrap -->

		@meuHelper.footer()

		<script type="text/javascript">
    $(document).ready(function() {
      $().UItoTop({ easingType: 'easeOutQuart' });

    });
    </script>
		<a href="#" id="toTop"><span id="toTopHover"> </span></a>
</body>
</html>
